/*
 палитра макета
 Основной цвет текста #757575;
 вторичный цвет #212121; 
 цвет акцент #2196F3;
 второй цвет текста #FFFFFF;
 цвет футер ссылки rgba(255, 255, 255, 0.6);
 цвет фона #E5E5E5;
 вторичный цвет фона #2F303A;
 третий цвет фона #F5F4FA;
 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --whyte-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --alt-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* убираем подчеркивание у ссылок */
a {
  text-decoration: none;
}
/* убираем "точечки" в списках */
.list {
  list-style: none;
}
/* header */
.header {
  background-color: var(--whyte-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* раскрасим логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header .logo {
  color: var(--title-text-color);
}
.footer .logo {
  color: var(--whyte-color);
}
.logo-head {
  color: var(--accent-color);
}
/* nav-links <a>*/
.nav-links a {
  color: var(--title-text-color);
}
/* header links hover, focus  */
.nav-links a:hover,
.nav-links a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}
/* contacts, portfolio projects links */
.contact a,
.projects-link {
  color: inherit;
}

/* hero, footer */
.hero,
.footer {
  background-color: var(--secondary-bg-color);
}
/* hero title */
.hero-title {
  color: var(--whyte-color);
}
/* hero button */
.hero-button {
  color: var(--whyte-color);
  background-color: var(--accent-color);
}
/* section title */
.section-title {
  color: var(--title-text-color);
}
/* features, our team, projects titles*/
.our-features .title,
.our-team .title,
.projects .title {
  color: var(--title-text-color);
}
/* our team */
.our-team {
  background-color: var(--alt-bg-color);
}
/* projects list */
.projects li {
  background-color: var(--whyte-color);
}
/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--whyte-color);
}
.button:hover,
.button:focus {
  color: var(--whyte-color);
  background-color: var(--accent-color);
}

/* footer */
address {
  color: var(--whyte-color);
}
/* footer contacts links */
.address a {
  color: var(--footer-link-color);
}
